<ng-container *ngIf="!userIsLoggedIn">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span><a href="/">HOME</a></span> -->
      <span class="spacer"></span>
      <a mat-button routerLink="/register" class="lable">Register</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <div fxLayout="row" style="height: 75px; width: 100%;">
      <!-- Column-2 Row-2-->
      <div fxLayout="row" fxFlex="100" fxFlexFill fxLayoutAlign="space-around strech">
        <div fxFlex="60">
          <img mat-card-image src="../assets/images/home_screen_img.jpg" alt="Free image">
        </div>
        <div fxFlex="30">
          <!-- fxLayoutAlign="center center" -->
          <mat-card class="my-card">
            <mat-card-content>
              <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                  <mat-label>Phone Number</mat-label>
                  <input matInput name="phoneNumber" formControlName="phoneNumber" maxlength="10">
                  <mat-error
                    *ngIf="loginForm.controls['phoneNumber'].hasError('required') && ( loginForm.controls['phoneNumber'].dirty === true || loginsubmitted === true )">
                    PhoneNumber number is required
                  </mat-error>
                  <mat-error
                    *ngIf="loginForm.controls['phoneNumber'].hasError('min') && ( loginForm.controls['phoneNumber'].dirty === true || loginsubmitted === true )">
                    PhoneNumber number must contain 10 digits
                  </mat-error>
                  <mat-error
                    *ngIf="loginForm.controls['phoneNumber'].hasError('pattern') && ( loginForm.controls['phoneNumber'].dirty === true || loginsubmitted === true )">
                    Invalid phone number
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" name="password" formControlName="password">
                  <mat-error
                    *ngIf="loginForm.controls['password'].hasError('required') && ( loginForm.controls['password'].dirty === true || loginsubmitted === true )">
                    Password is required
                  </mat-error>
                </mat-form-field>
                <mat-card-actions>
                  <button type="submit" mat-raised-button color="primary" class="login-btn">LOGIN</button>
                </mat-card-actions>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>