<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu1">Who we are</button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item>Overview</button>
      <button mat-menu-item>About us</button>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu2">What we do</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>Services</button>
      <button mat-menu-item (click)="ePanServices()">e-PanServices</button>
      <button mat-menu-item>IRCTC Sevrices</button>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu3">Careers</button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu4">Contact us</button>
    <mat-menu #menu4="matMenu">
      <button mat-menu-item>India</button>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu5">Products</button>
    <mat-menu #menu5="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span class="spacer"></span>
    <a mat-button routerLink="/register" >Register</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="spaceBrk">
<router-outlet></router-outlet>
</div>