.example-spacer {
    flex: 1 1 auto;
}

.header-bar {
    margin: 0px;
}

.mat-toolbar.mat-primary {
    background: #5fe0f3;
    color: #1776ba;
}

.lable {
    font-size: 20px;
}
.example-icon{
    margin-right: 25px;
}

.spacer {
    flex: 1 1 auto;
  }