<ng-container *ngIf="!userIsLoggedIn">
<p class="header-bar">
  <!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Pan Application</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="login()">
       <span class="lable">Login</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
     <!-- <span><a href="/">HOME</a></span> -->
     <span class="spacer"></span>     
     <a  mat-button  routerLink="/login" class="lable">Login</a>
     <a  mat-button  routerLink="/register" class="lable">Register</a>
  </mat-toolbar-row>
  </mat-toolbar>

<div fxFlexFill class="example-container">
  <div fxLayout="column" fxLayoutGap="32px" [style.height]="'100%'">
    <mat-card class="card-margins">
      <mat-card-title></mat-card-title>
        <div
          fxLayout="row"
          fxLayoutGap="32px"
          fxLayout.lt-sm="column"      
          fxLayoutGap.lt-sm="10px">
          <div fxFlex="0 100 100%">
              <img mat-card-image src="../assets/images/home_screen_img.jpg" alt="Free image">
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
