<mat-toolbar color="primary">
  <mat-icon (click)="navigateBack()">arrow_back_ios</mat-icon>
  <span>Dashboard</span>
</mat-toolbar>
  <div class="content">
        <div fxLayout="row" style="height: 75px; width: 100%;">
            <!-- Column-2 Row-2-->
            <div fxLayout="row" fxFlex="100" fxFlexFill  fxLayoutAlign="space-around strech">
              <div fxFlex="30" fxLayoutAlign="center center">    
                <mat-card class="mat-elevation-z4" >
                <mat-card-header>
                  <mat-card-title>New Request</mat-card-title>
                </mat-card-header>
                <!-- <mat-card-content>
                  <p>
                    The Himalayas is a mountain range in Asia.
                  </p>
                </mat-card-content> -->
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
            </div>
              <div fxFlex="30" fxLayoutAlign="center center">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title>View Status</mat-card-title>
                    </mat-card-header>
                  </mat-card>
                </div>
              <div fxFlex="30" fxLayoutAlign="center center">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title>Update Existing Request</mat-card-title>
                    </mat-card-header>
                  </mat-card>
                </div>
            </div>
          </div>
  </div>