<mat-toolbar color="primary">
   <mat-icon (click)="navigateBack()">arrow_back_ios</mat-icon>
   <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form" [formGroup]="registerForm" (ngSubmit)="register()">
         <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" name="fname" required formControlName="fname">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" name="lname" required formControlName="lname">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" name="address" required formControlName="address">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" formControlName="email">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" name="password" formControlName="password">
         </mat-form-field>
         <!-- <section class="example-section">
                    <label class="example-margin">Gender:</label>
                    <mat-radio-group [(ngModel)]="gender">
                      <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
                      <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
                      <mat-radio-button class="example-margin" value="before">Other</mat-radio-button>
                    </mat-radio-group>
                  </section> -->

         <!-- <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
         <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">REGISTER</button>
         </mat-card-actions>
      </form>

   </mat-card-content>
</mat-card>